/*!
 * OnePage - Pod Lipami
 * @description Projekt wykonany na potrzeby rekrutacji
 * @author Piotr Stefaniak
 * @site https://creastv.pl/
 * @link to project https://creastv.github.io/Pod-Lipami/
 */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fbfaf5;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  width: 100%;
  padding: 0 15px;
}

.col-2 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.col-3 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
}

@media only screen and (max-width: 768px) {
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

hr {
  height: 1px;
  background: #e5d5bb;
  border: none;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.goToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #a9121d;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

@media only screen and (max-width: 768px) {
  .goToTop {
    bottom: 10px;
    right: 10px;
  }
}

.goToTop:hover {
  background: #920f19;
}

.upDisplay {
  display: block;
}

.pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pag .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
}

.pag .swiper-pagination .swiper-pagination-bullet {
  margin: 5px;
  background: none;
  border: 1px solid #fff;
  width: 13px;
  height: 13px;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  section {
    scroll-margin-top: 80px;
  }
}

@font-face {
  font-family: "abril-display-extraBold";
  src: url("../fonts/Abril_Display_ExtraBold.otf") format("woff"), url("../fonts/Abril_Display_ExtraBold.otf") format("opentype"), url("../fonts/Abril_Display_ExtraBold.otf") format("truetype");
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "abril-display-extraBold";
  color: #7b0d15;
}

h2 {
  font-size: 58px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

p {
  margin-bottom: 30px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.s-big {
  font-size: 1.25rem;
}

.c-main {
  color: #7b0d15;
}

.c-white {
  color: #fff;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.title-sec {
  position: relative;
  padding: 0 53px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .title-sec {
    margin-bottom: 20px;
  }
}

.title-sec:before, .title-sec:after {
  content: "";
  position: absolute;
  background-image: url(../img/ornament-title.svg);
  width: 30px;
  height: 43px;
  top: 50%;
}

.title-sec:before {
  -webkit-transform: translate(-53px, -50%);
          transform: translate(-53px, -50%);
}

.title-sec:after {
  -webkit-transform: translate(20px, -50%) rotate(180deg);
          transform: translate(20px, -50%) rotate(180deg);
}

.title-sec.c-white:before, .title-sec.c-white:after {
  background-image: url(../img/ornament-title-white.svg);
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  .hamburger {
    display: block;
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
     * Spin
     */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
       * Spin Reverse
       */
.hamburger--spin-r .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 333;
  background-color: #fff;
}

#header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .open {
  display: block !important;
}

#header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  #header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
}

#header nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  #header nav ul li {
    width: 100%;
    margin-bottom: 20px;
  }
}

#header nav ul li .active {
  color: #7b0d15;
}

#header nav ul li a {
  font-size: 18px;
  padding: 5px 24px;
  font-weight: bold;
  text-decoration: none;
  color: #211d1d;
}

@media only screen and (max-width: 1200px) {
  #header nav ul li a {
    font-size: 21px;
  }
}

#header nav ul li a:hover {
  color: #7b0d15;
}

#header .logo {
  padding-left: 50px;
}

@media only screen and (max-width: 1200px) {
  #header .logo {
    padding-left: 0;
  }
}

#header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-decoration: none;
  font-size: 20px;
  color: #211d1d;
}

#header .logo a span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 10px;
}

#header .logo a img {
  border-left: 1px solid #211d1d;
  padding-left: 10px;
  max-width: 84px;
}

.btn {
  padding: 10px 35px;
  border-radius: 20px;
  border: 2px solid #cc9745;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.btn:hover {
  color: #fff;
  -webkit-transition: all 125ms;
  transition: all 125ms;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 5px 29px -4px rgba(6, 6, 6, 0.41);
          box-shadow: 0px 5px 29px -4px rgba(6, 6, 6, 0.41);
}

.btn:focus {
  opacity: 0.9;
  color: #fff;
  -webkit-transition: all 125ms;
  transition: all 125ms;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0px 5px 3px -4px rgba(6, 6, 6, 0.41);
          box-shadow: 0px 5px 3px -4px rgba(6, 6, 6, 0.41);
}

.btn-first {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-color: #cc9745;
  text-transform: uppercase;
}

.btn-first:hover, .btn-first:focus {
  color: #fff;
  background-color: #cc9745;
}

.btn-second {
  font-size: 18px;
  color: #211d1d;
  border-color: #7b0d15;
}

.btn-second:hover, .btn-second:focus {
  color: #fff;
  background-color: #7b0d15;
}

.g-form {
  margin-bottom: 15px;
}

input,
textarea {
  font-size: 16px;
  max-height: 55px;
  width: 100%;
  padding: 15px 5px;
  border: none;
  border-bottom: 2px solid #211d1d;
  border-radius: 0;
  background: none;
  outline: 0;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid green;
}

button {
  background: none;
  color: #211d1d;
  border: 2px solid #211d1d;
  font-size: 16px;
  border-radius: 100px;
  min-width: 160px;
  padding: 10px 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #211d1d;
  color: #fff;
  -webkit-transition: all 125ms;
  transition: all 125ms;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 5px 29px -4px rgba(6, 6, 6, 0.41);
          box-shadow: 0px 5px 29px -4px rgba(6, 6, 6, 0.41);
}

button:focus {
  background: #211d1d;
  opacity: 0.9;
  color: #fff;
  -webkit-transition: all 125ms;
  transition: all 125ms;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0px 5px 3px -4px rgba(6, 6, 6, 0.41);
          box-shadow: 0px 5px 3px -4px rgba(6, 6, 6, 0.41);
}

::-webkit-input-placeholder {
  color: #211d1d;
  font-size: 16px;
}

:-ms-input-placeholder {
  color: #211d1d;
  font-size: 16px;
}

::-ms-input-placeholder {
  color: #211d1d;
  font-size: 16px;
}

::placeholder {
  color: #211d1d;
  font-size: 16px;
}

#footer {
  width: 100%;
  padding: 70px 0 0 0;
  background-color: #7b0d15;
}

#footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  #footer .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #footer .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

#footer .row .col1,
#footer .row .col2,
#footer .row .col3 {
  padding: 20px 50px;
}

@media only screen and (max-width: 768px) {
  #footer .row .col1,
  #footer .row .col2,
  #footer .row .col3 {
    padding: 10px 50px;
  }
}

#footer .row .col1 p,
#footer .row .col2 p,
#footer .row .col3 p {
  margin-bottom: 10px;
}

#footer .row .col1 *,
#footer .row .col2 *,
#footer .row .col3 * {
  color: #fff;
  font-size: 16px;
}

#footer .row .col1 {
  padding: 20px 50px;
}

#footer .row .col3 ul {
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 992px) {
  #footer .row .col3 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  #footer .row .col3 ul li {
    width: 100%;
  }
}

#footer .row .col3 ul li a {
  -webkit-transition: all 0.3;
  transition: all 0.3;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  #footer .row .col3 ul li a {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  #footer .row .col3 ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#footer .row .col3 ul li a svg {
  margin-right: 10px;
}

#footer .row .col3 ul li a:hover {
  color: #e5d5bb;
}

#footer .inf {
  color: #e5d5bb;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #footer .inf {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#footer .inf .col {
  width: initial;
}

@media only screen and (max-width: 768px) {
  #footer .inf p {
    margin-bottom: 10px;
  }
}

#footer .inf p,
#footer .inf a {
  font-size: 14px;
  color: #e5d5bb;
}

#footer .inf hr {
  background-color: #e5d5bb;
}

#footer .inf .socialmedia {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .inf .socialmedia li a {
  padding: 10px;
}

section#slider {
  background-color: #656565;
}

section#slider .slider-home .swiper-slide {
  background-size: cover;
  background-position: center;
}

section#slider .slider-home .swiper-slide .grad {
  background-color: rgba(0, 0, 0, 0.5);
  height: 90vh;
  min-height: 650px;
}

section#slider .slider-home .swiper-slide .grad .content {
  width: 100%;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  section#slider .slider-home .swiper-slide .grad .content {
    padding: 15px;
  }
}

section#slider .slider-home .swiper-slide .grad .content .title {
  color: #fff;
  font-size: 73px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  section#slider .slider-home .swiper-slide .grad .content .title {
    font-size: 51px;
  }
  section#slider .slider-home .swiper-slide .grad .content .title br {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  section#slider .slider-home .swiper-slide .grad .content .title {
    font-size: 41px;
  }
  section#slider .slider-home .swiper-slide .grad .content .title br {
    display: none;
  }
}

section#slider .swiper-pagination {
  margin-top: -50px;
}

section#o-nas {
  padding: 110px 0 0;
}

@media only screen and (max-width: 768px) {
  section#o-nas {
    padding: 30px 0 0;
  }
}

section#o-nas img {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

section#wesele {
  padding: 110px 0;
  position: relative;
}

@media only screen and (max-width: 768px) {
  section#wesele {
    padding: 30px 0;
  }
}

section#wesele .oferta {
  padding: 20px;
}

section#wesele .oferta img {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  section#wesele .oferta img {
    margin-bottom: 25px;
  }
}

section#wesele .oferta h3 {
  margin-top: 0;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  section#wesele .oferta h3 {
    margin-bottom: 20px;
    font-size: 31px;
  }
}

section#wesele svg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 37%;
  pointer-events: none;
}

section#oferta {
  background-color: #7b0d15;
  padding: 110px 0 0;
}

@media only screen and (max-width: 768px) {
  section#oferta {
    padding: 30px 0;
  }
}

section#oferta .toggle {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  section#oferta .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

section#oferta .toggle p {
  margin-bottom: 0;
  -webkit-transition: all 0.3;
  transition: all 0.3;
  cursor: pointer;
  border-top: 1px solid #a87679;
  border-bottom: 1px solid #a87679;
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #fff;
  display: block;
  width: 100%;
}

section#oferta .toggle p:hover {
  background-color: #924042;
}

section#oferta .toggle p:before {
  content: "";
  position: absolute;
  z-index: 3;
  right: 20px;
  background: url(../img/tab-ornament.svg);
  background-position: center;
  width: 24px;
  height: 29px;
}

section#oferta .container--tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  section#oferta .container--tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section#oferta .container--tabs .openTab {
  height: auto !important;
}

section#oferta .container--tabs .nav-tabs {
  -webkit-transition: height 0.3;
  transition: height 0.3;
  width: 25%;
  padding: 0 15px 0 0;
}

@media only screen and (max-width: 768px) {
  section#oferta .container--tabs .nav-tabs {
    width: 100%;
    overflow: hidden;
    height: 0;
  }
}

section#oferta .container--tabs .nav-tabs .active {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

section#oferta .container--tabs .nav-tabs .active a {
  position: relative;
  z-index: 2;
}

section#oferta .container--tabs .nav-tabs .active a:after {
  width: 100%;
  background-color: #924042;
}

section#oferta .container--tabs .nav-tabs li {
  position: relative;
  list-style: none;
  border-top: 1px solid #a87679;
  border-bottom: 1px solid #a87679;
  margin-top: -1px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#oferta .container--tabs .nav-tabs li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

section#oferta .container--tabs .nav-tabs li:hover a:after {
  background-color: #924042;
  width: 100%;
}

section#oferta .container--tabs .nav-tabs li:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #5f0e12;
}

section#oferta .container--tabs .nav-tabs li:before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 20px;
  background: url(../img/tab-ornament.svg);
  background-position: center;
  width: 24px;
  height: 29px;
}

section#oferta .container--tabs .nav-tabs li a {
  padding: 20px;
  position: relative;
  z-index: 2;
  padding-left: 52px;
  font-size: 18px;
  color: #fff;
  display: block;
  width: 100%;
}

section#oferta .container--tabs .nav-tabs li a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #5f0e12;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

section#oferta .container--tabs .tab-content {
  width: 75%;
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  section#oferta .container--tabs .tab-content {
    width: 100%;
    padding-left: 0px;
  }
}

section#oferta .container--tabs .tab-content * {
  color: #fff;
}

section#oferta .container--tabs .tab-content .tab-pane {
  display: none;
}

section#oferta .container--tabs .tab-content .active {
  display: block;
}

section#menu {
  position: relative;
  padding-top: 110px;
}

@media only screen and (max-width: 768px) {
  section#menu {
    margin-bottom: 30px;
    padding-top: 0px;
  }
}

section#menu:before {
  content: "";
  position: absolute;
  top: 0px;
  background-color: #7b0d15;
  width: 100%;
  height: calc(50% + 110px);
}

@media only screen and (max-width: 768px) {
  section#menu:before {
    top: 0;
    height: 50%;
  }
}

section#menu .banner {
  height: 350px;
  position: relative;
  background: url(../img/bg-menu.webp);
}

section#menu .banner .wraper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 350px;
}

section#menu .banner .wraper .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#menu .banner .wraper .content h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  section#menu .banner .wraper .content h2 {
    font-size: 41px;
    margin-bottom: 20px;
  }
}

section#noclegi {
  padding: 110px 0;
  position: relative;
}

@media only screen and (max-width: 768px) {
  section#noclegi {
    padding: 30px 0;
  }
}

section#noclegi .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

section#noclegi .left {
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  section#noclegi .left {
    padding-right: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

section#noclegi .right {
  padding-left: 50px;
}

@media only screen and (max-width: 768px) {
  section#noclegi .right {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  section#noclegi .t-right {
    text-align: left;
  }
}

section#noclegi .col-2 img {
  width: 100%;
  height: auto;
}

section#noclegi svg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 37%;
}

section#galeria {
  background-color: #7b0d15;
  padding: 110px 0;
}

@media only screen and (max-width: 768px) {
  section#galeria {
    padding: 30px 0;
  }
}

section#galeria .swiper-container {
  overflow: hidden;
}

section#galeria .swiper-container ul {
  list-style: none;
  padding: 0;
}

section#galeria .pswp__bg {
  opacity: 0.8 !important;
}

section#kontakt {
  position: relative;
}

section#kontakt .col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  section#kontakt .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

section#kontakt .wrap-form {
  background: #fbfaf5;
  padding: 100px 60px;
}

@media only screen and (max-width: 768px) {
  section#kontakt .wrap-form {
    padding: 30px 0;
  }
}

section#kontakt .wrap-form .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

section#kontakt .wrap-form .header-form h2 {
  font-size: 45px;
}

section#kontakt .cover-map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  section#kontakt .cover-map {
    position: relative;
  }
}

section#kontakt .cover-map #mapa-it {
  width: 100%;
  height: 680px;
}

@media only screen and (max-width: 768px) {
  section#kontakt .cover-map #mapa-it {
    height: 400px;
  }
}

section#kontakt .gm-style-pbc {
  background-color: rgba(0, 124, 219, 0.2) !important;
}

section#kontakt .gm-style-pbt {
  color: #fff !important;
}

section#kontakt .gmnoprint {
  display: none !important;
}
/*# sourceMappingURL=styles.css.map */