$xxs: "only screen and (max-width: 568px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";


$light: #E5D5BB;
$yellow: #CC9745;
$red: #7b0d15;
$black: #211D1D;